.local_lor_search_page {
  .local_lor_partial_item.lor-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    flex: 1 0 500px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 2rem 0;

    .lor-card-body {
      padding: 1rem;
    }

    img {
      width: 100%;
      height: 21rem;
      object-fit: cover;
    }
  }

  .lor-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .search-results {
    display: block;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  /* Medium devices */
  @media screen and (min-width: 30rem) {
    .local_lor_partial_item.lor-card {
      margin: 1rem .25rem;
      max-width: calc(50% - 1rem);

      img {
        height: 19rem;
      }
    }

    .search-results {
      display: flex;
    }
  }

  /* Large devices */
  @media only screen and (min-width: 90rem) {
    .local_lor_partial_item.lor-card {
      margin: 1rem .25rem;
      max-width: calc(25% - 1rem);

      img {
        height: 14rem;
      }
    }

    .search-results {
      display: flex;
    }
  }

}
