
/* The filters div contains select boxes to apply filters to what projects are shown */
#filters {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #e8e8e8;
    border-radius: 5px; /* rounded corners */
}

/* Each project div contains an image and the project title */
.project {
  /*border: 1px solid #e8e8e8;*/
  margin-bottom: 2em;
}

/* Used to apply filters, contained in the filters div */
select {
  margin-right: 1em;
}

#project-info {
  padding: 1em;
}

#projects-container {
  background-color: #f9f9f9;
  border-radius: 5px;
}

img {
  border-radius: 3px;
  border: 1px solid #bcbcbc;
}

#count {
  margin-bottom: 2em;
}
