
/* The filters div contains select boxes to apply filters to what projects are shown */
div#filters {
    margin-bottom: 2em;
    padding: 1.5em 1em 1em 1em;
    background: linear-gradient(to bottom, #3b94f9, #113863);
}

div#filters label {
  color: white;
}

div#filters li > label {
  color: black;
}


div.filter {
  margin-right: 5px;
  display: inline-block;
}

/* Each project div contains an image and the project title */
.item {
  border: 1px solid #bcbcbc;
  margin: 0 1em .5em 1em;
  padding: 1em 0 1em 0;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #f7f7f7, #d8d8d8);
}

/* Used to apply filters, contained in the filters div */
.lor-select {
  margin-right: 1em;
}

#content-container {
  background-color: #ffffff;
}

#item-info {
  padding: 1em;
}

.lor-image {
  border-radius: 3px;
  border: 1px solid #bcbcbc;
}

#count {
  margin-bottom: 2em;
}

#platform-select {
  display: none;
}
/* space out grade, categories checkboxes on insert forms */
#fgroup_id_grades > fieldset > span, #fgroup_id_categories > fieldset > span {
  margin-right: 20px;
}

#fgroup_id_grades > fieldset > span > label, #fgroup_id_categories > fieldset > span > label {
  padding-left: 0;
}

#fgroup_id_grades > fieldset > span > input, #fgroup_id_categories > fieldset > span > input {
  margin-right: 4px;
}

div#pages {
  font-size: 16px;
  font-weight: bold;
}

div#pages > p a {
  cursor: pointer;
}

div#pages > p a#current-page {
  font-size: 18px;
  cursor: default;
  color: #382700;
}

.lor-nav {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  line-height: normal;
}

.lor-nav:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

.back {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #fed101;
    color: white;
}

.round {
    border-radius: 50%;
}

div.multiple.lor-select {
  min-width: 70px;
}

#pages-row {
  margin-top: 2em;
}

a.lor-icon > img {
  height: 20px;
  margin-right: 4px;
}

a.lor-icon {
  margin-right: 10px;
  cursor: pointer;
  color: #113863;
}

#item-info > div > textarea {
  width: 95%;
}

/* Modal styles */
.modal-header .close {
  margin-top: -1rem;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

span.label {
  width: 200px;
  float: left;
  margin-right: 1em;
}

div#item-details li {
  list-style: none;
  font-size: 18px;
}

div#item-details {
  display: inline-block;
}

.modal-title {
  font-size: 30px;
  font-weight: bold;
  flex: auto;
}
