<p><img src="images/checkmark.png"> LOR item "{{title}}" was deleted from the repository! Click the 'Done' button below to return to the main LOR page.</p>
<a href="{{link}}"><button id="delete-done-button">Done</button></a>
