<p><img src="images/checkmark.png"> LOR item "{{title}}" was deleted from the repository! It will remain in the database for one month. If you wish to retrieve it at a later point, contact Colin Bernard (colinjbernard@hotmail.com). Click the 'Done' button below to return to the main LOR page. If this was a mistake, click 'Undo' to restore the item.</p>
<a href="{{done_link}}"><button>Done</button></a>
<a href="{{undo_link}}"><button>Undo</button></a>
