<p><img src="images/checkmark.png"> LOR item <i>"{{title}}"</i> was <b>deleted</b> from the repository! Deleted items
    remain in the database until the first (1st) of every month. If you wish to retrieve it before then, contact Colin
    Bernard (colinjbernard@hotmail.com). Click the <b>'Done'</b> button below to return to the main LOR page. If this
    was a mistake, click <b>'Undo'</b> to restore the item.</p>
<a href="{{done_link}}">
    <button>Done</button>
</a>
<a href="{{undo_link}}">
    <button>Undo</button>
</a>
