{{!
    Render the Vue app

    @template local_lor/index
}}
<div class="local_lor_index">
    <!-- Add any required scripts here -->
<!--    <script src="https://apis.google.com/js/platform.js" async defer></script>-->

    <div id="local-lor-app">
        <router-view></router-view>
    </div>
</div>

