{{!
    Render the Vue app

    @template local_lor/index
}}
<div class="local_lor_index">
    <div id="local-lor-app">
        <router-view>
            <div class="loader"></div>
        </router-view>
    </div>
</div>

