{{!
   Item view page

    @template local_lor/item_view
}}
<div class="local_lor_item_view">
    <div class="container-fluid">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{#str}} item_details, local_lor {{/str}}</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{#str}} description {{/str}}</th>
                        <td>{{{description}}}</td>
                    </tr>
                    <tr>
                        <th>{{#str}} categories, local_lor {{/str}}</th>
                        <td>{{categories}}</td>
                    </tr>
                    <tr>
                        <th>{{#str}} grades, local_lor {{/str}}</th>
                        <td>{{grades}}</td>
                    </tr>
                    <tr>
                        <th>{{#str}} topics, local_lor {{/str}}</th>
                        <td>{{topics}}</td>
                    </tr>
                    <tr>
                        <th>{{#str}} contributors, local_lor {{/str}}</th>
                        <td>{{contributors}}</td>
                    </tr>
                    <tr>
                        <th>{{#str}} date_created, local_lor {{/str}}</th>
                        <td>{{timecreated}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="actions">
                    <button class="btn btn-default">
                        <i class="icon fa fa-share-alt" aria-hidden="true"></i>
                        {{#str}} related, local_lor {{/str}}
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="icon fa fa-share" aria-hidden="true"></i>
                        {{#str}} share, local_lor {{/str}}
                    </button>
                    <div class="admin-only">
                        <button class="btn btn-primary">
                            <i class="icon fa fa-code" aria-hidden="true"></i>
                            {{#str}} embed, local_lor {{/str}}
                        </button>
                        <a class="btn btn-primary" href="{{{edit_url}}}">
                            <i class="icon fa fa-edit" aria-hidden="true"></i>
                            {{#str}} edit {{/str}}
                        </a>
                        <a class="btn btn-primary" href="{{{delete_url}}}">
                            <i class="icon fa fa-trash" aria-hidden="true"></i>
                            {{#str}} delete {{/str}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-display text-center">
        <p>Display here</p>
        <!-- TODO display the item -->
        {{{display}}}
    </div>
</div>
