<!-- Modal template to be rendered by click. -->
<div class="lor-modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel"
     aria-hidden="true">
    <div class="lor-modal-dialog lor-modal-xl">
        <div class="lor-modal-content">
            <div class="lor-modal-header">
                <h4 class="lor-modal-title col-12 text-center" id="myModalLabel">
                    <!-- To be replaced by jquery modal call. --></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="lor-modal-body">
                <!-- To be replaced by jquery modal call. -->
            </div>
            <div class="lor-modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
