{{!
    Item partial template

    To be rendered on the search page

    @template local_lor/partial_item
}}
<div class="local_lor_partial_item card">
    <div class="card-body">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text">{{{description}}}</p>
        <img src="{{{image}}}" />
        <a href="{{{view_url}}}" class="btn btn-primary">View</a>
    </div>
</div>
