{{!
    Embed code modal

    @template local_lor/partial_embed_modal
}}
<div class="local_lor_partial_embed_modal lor-modal" id="embedModal">
    <div class="lor-modal-content">
        <span class="close">&times;</span>
        <textarea disabled>

        </textarea>
        <button class="btn-primary">{{#str}} copy_to_clipboard, local_lor {{/str}}</button>
        <button class="btn-cancel">{{#str}} close_modal, local_lor {{/str}}</button>
    </div>
</div>
