{{!
    Search page

    @template local_lor/search_page
}}
<div class="local_lor_search_page">
    <!-- TODO render search form here -->


    <div class="search-results">
        {{#items}}
            {{> local_lor/partial_item }}
        {{/items}}
    </div>

    <!-- TODO render paging bar here -->
</div>
