<p><img src="images/checkmark.png"> LOR item <i>"{{title}}"</i> was successfully <b>updated</b>! View the item <a target="_blank" href="{{lor_link}}">here</a>. Click the <b>'Cancel'</b> button below if you are finished editing.</p>
