<p><img src="images/checkmark.png">LOR item "{{title}}" was successfully updated! View the item <a target="_blank" href="{{lor_link}}">here</a>. Click the 'Cancel' button below if you are finished editing.</p>
