/*
Clear some bootstrap styles

This MUST come first in this file, so that we can overwrite these settings with our CSS below

*/
#local-lor-app {
  button,
  .label {
    all: unset;
  }

  .modal {
    all: unset;

    textarea {
      box-sizing: border-box;
    }
  }
}

/* Only apply our styles to the Vue app div, otherwise all of Moodle will be affected */
#local-lor-app {

  /* Import the bulma CSS framework */
  @import "../node_modules/bulma/bulma";
}
